.topnav{
    
    width: 100%;
    overflow: auto;
}
.topnav a{
    float: right;
    padding: 20px;
    text-decoration: none;
}
.topnav a:hover{
    color: chocolate;
}
html, body{
    height: 100%;
    position: relative;
}
body{
    margin: 0;
    padding: 0;
}
.swiper{
    width: 40%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
}
.swiper-slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;  
}
.infobox{
    padding: 5%;
    margin-bottom: 10%;
}
.container{
    height: 30%;
    width: 100%;
    padding: 50px;
    margin-bottom: 5%;
    
}
.swiper-slide{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.display{
    display: flex;
    margin: 5%;
    width: 100%;
    height: 100%;
    align-items: center;
}
.display2{
    display: flex;
    margin: 5%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}