.topnav{
    
    width: 100%;
    overflow: auto;
}
.topnav a{
    float: right;
    padding: 20px;
    text-decoration: none;
}
.topnav a:hover{
    color: rgb(231, 126, 50);
}

.accordion{
    background-color: #d8d8d8;
    width: 40vw;
    height: 2vw;
    cursor:pointer;
    border: none;
    text-align: center;
    margin: 7px;
    
}
#kirb{
    width: 30px;
    height: 30px;
    padding-left: 20px;
}
.desc{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    justify-content: center;
}


#list{
    padding: 5px;
    transition: transform 0.5s ease-in-out;
}
#list:hover{
    transform: scale(1.5);
    color: rgb(225, 155, 105);
}
ul{
    list-style: none;
}