.topnav{
    
    width: 100%;
    overflow: auto;
}
.topnav a{
    float: right;
    padding: 20px;
    text-decoration: none;
}
.topnav a:hover{
    color: rgb(231, 126, 50);
}

.accordion{
    background-color: #ECECEC;
    width: 40vw;
    height: 2vw;
    cursor:pointer;
    border: none;
    text-align: center;
    
}
#kirb{
    width: 30px;
    height: 30px;
    padding-left: 20px;
}
.desc{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    justify-content: center;

    
}
ul{
    list-style: none;
}